{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Orden de Trabajo #{{ orden.pk }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/orden_pdf.css' %}?v=2" />
</head>
<body>

    <h1>Orden de Trabajo Nº {{ orden.pk }}</h1>

    <div class="section">
        <h2>Datos Generales</h2>
        <p><strong>Fecha:</strong> {{ orden.fecha }}</p>
        <p><strong>Hora de inicio:</strong> {{ orden.horaInicio }}</p>
        <p><strong>Hora de fin:</strong> {{ orden.horaFin }}</p>
        <p><strong>Vehículo:</strong> {{ orden.vehiculo }}</p>
        <p><strong>Kilometraje inicial:</strong> {{ orden.kmInicial }}</p>
        <p><strong>Kilometraje final:</strong> {{ orden.kmFinal }}</p>
        <p><strong>Tablero:</strong> {{ orden.tablero }}</p>
        <p><strong>Zona:</strong> {{ orden.zona }}</p>
        <p><strong>Circuito:</strong> {{ orden.circuito }}</p>
        <p><strong>Tipo de Mantenimiento:</strong> {{ orden.tipo_mantenimiento }}</p>
    </div>

    <div class="section">
        <h2>Descripción de la Tarea</h2>
        <p>{{ orden.descripcion }}</p>
    </div>

    <div class="section">
        <h2>Técnicos Intervinientes</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Legajo</th>
                </tr>
            </thead>
            <tbody>
                {% for tecnico in tecnicos %}
                <tr>
                    <td>{{ tecnico.nombre }}</td>
                    <td>{{ tecnico.legajo }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">No se ingresaron técnicos.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="section">
        <h2>Materiales Utilizados</h2>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Unidad</th>
                </tr>
            </thead>
            <tbody>
                {% for material in materiales_usados %}
                <tr>
                    <td>{{ material.material.nombre }}</td>
                    <td>{{ material.cantidad }}</td>
                    <td>{{ material.material.unidad }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No se registraron materiales.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 </div>

</body>
</html>